<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DbString" connectionString="Server=192.168.0.112;Port=33068;Database=toolkit;User Id=root;Password=1203;Charset=utf8;" providerName="MySql.Data.MySqlClient"></add>
  </connectionStrings>
  <appSettings>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>